<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <!--needs to be add to avoid asp-wrong-version error-->
    <add key="webPages:Version" value="2.0"/>
    <add key="webpages:Enabled" value="true" />
  </appSettings>

  <connectionStrings><!--for db connection: name="db-name", ..., Data Source=. (root), Initial Catalog='db-name'-->
    <add name="cars" connectionString="Data Source=.; Initial Catalog='cars'; Integrated Security = True;" providerName="System.Data.SqlClient"/>
    <!--<add name="cars" connectionString="Data Source=.; Initial Catalog='carsTable'; uid=username; pwd=password;" providerName="System.Data,.SqlClient"/>-->
  </connectionStrings>

</configuration>
