@{
    Layout = "../layout.cshtml"; @*layout directive with path to the file creating the layout*@
    Page.Title = "Cars";
} 
@{
    <h1>Home</h1>
    <img src="~/img/cars-all2.jpg" width="1091"/>
}